html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color: #cde;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #68a;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 6em;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

header h4 {
    color: #def;
    font-size: 1.5em;
    padding: 0em 1em;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

header a {
    display: block;
    padding: 0.25em;
    margin: 0em 0.5em;
    width: 4em;
    text-align: center;
    color: black;
    border: 1px solid;
    text-decoration: none;
    background-color: #ace;
}

header a:hover {
    background-color: #bdf;
}

.parallax {
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    background-image: url("/resources/images/color-moods.png");
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
    box-sizing: border-box;
    z-index: -1;
}

#home h1 {
    position: fixed;
    font-size: 5em;
}

.items {
    padding: 8em 0 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-row-gap: 4em;
    justify-items: center;
    height: 100%;
    background-color: #cde;
}

.item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: solid 1px;
    width: 300px;
    height: 500px;
    position: relative;
    background-color: #def;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.25);
}

.item img {
    border-bottom: 1px solid;
}

.item p {
    margin: 1em;
}

.item button {
    background-color: #ace;
    padding: 0.5em;
    border: 1px solid black;
}

.item .pick-image {
    border-right: none;
    border-top: none;
    align-self: flex-end;
}

.item .add-to-cart {
    width: 100%;
    position: absolute;
    bottom: 0;
    border: none;
    border-top: 1px solid black;
}

.item button:hover {
    background-color: #bdf;
    cursor: pointer;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.item button:active {
    outline: none;
}

.price {
    position: absolute;
    bottom: 1em;
    right: 0;
}

footer {
    padding: 0.5em 0em;
    align-self: flex-start;
    position: absolute;
    top: 100%;
    width: 100%;
    color: #def;
    background-color: #68a;
    border-top: 1px solid black;
}

footer div, footer ul {
    padding: 0em 0.5em 0em 0.5em;
    margin: 0;
}

#item-list li {
    display: flex;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    padding-right: 0.5em;
    margin: 0.5em 0.5em 0em 0em;
    height: 2em;
    position: relative;
}

#modify {
    position: absolute;
    right: 0;
    padding-right: 0.5em;
}

#modify button, #modify input {
    height: 2em;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
    border: 1px solid black;
}

#modify input {
    background-color: #cde;
    width: 5em;
}

#modify button {
    background-color: #ace;
}

#modify button.add-one, #modify button.remove-one {
    width: 2em;
}